{{!< default}}

{{#author}}
<section class="my-24 text-center">
<h1 class="text-4xl">
    {{name}}
</h1>
<p class="text-2xl">
    {{bio}}
</p>
<div class="gh-author-links">
    {{#if website}}
        <a href="{{website}}" target="_blank" rel="noopener">Website</a>
    {{/if}}
    {{#if twitter}}
        <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
    {{/if}}
    {{#if facebook}}
        <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
    {{/if}}
</div>
</section>
{{/author}}


<section class="space-y-8 mb-8">
{{#foreach posts visibility="all"}}

    {{> "card"}} {{!-- partials/card.hbs --}}

{{/foreach}}
</section>